@font-face {
  font-family: 'Branda';
  src: url('./Branda.ttf') format('');
  font-weight: 600;
  font-style: normal;
}

.hello {
    color: red;
    font-family: 'Branda';
    font-size: 40px;
    background: url('./webpack.png');
  }